<h1>Gasolineras</h1>
<div class="contenedor_busqueda">Contamos con b&uacute;squeda por calle, colonia, delegaci&oacute;n o municipio, estado, c&oacute;digo postal, precio de la gasolina regular y premium.</div>
<div class="contenedor_busqueda">
  <input class="search_input" type="text" [(ngModel)]="buscar" (keyup)="getLocations($event)" />
  <i class="material-icons search_icon">search_icon</i>
</div>
<div class="pinboard">
  <agm-map [latitude]="19.47119" [longitude]="-99.1657">
  <agm-marker [latitude]="resultado.latitude" [longitude]="resultado.longitude" *ngFor="let resultado of resultados"></agm-marker>
  </agm-map>
</div>


<table class="table_dinamic">
  <tr class="tr_dinamic">
    <td class="td_dinamic">calle</td>
    <td class="td_dinamic">regular</td>
    <td class="td_dinamic">premium</td>
    <td class="td_dinamic">latitude</td>
    <td class="td_dinamic">longitude</td>
    <td class="td_dinamic">codigopostal</td>
    <td class="td_dinamic">colonia</td>
    <td class="td_dinamic">delegacion</td>
    <td class="td_dinamic">estado</td>
  </tr>
  <tr  lass="tr_dinamic" *ngFor="let resultado of resultados">
    <td class="td_dinamic">{{ resultado.calle }}</td>
    <td class="td_dinamic">{{ resultado.regular }}</td>
    <td class="td_dinamic">{{ resultado.premium }}</td>
    <td class="td_dinamic">{{ resultado.latitude }}</td>
    <td class="td_dinamic">{{ resultado.longitude }}</td>
    <td class="td_dinamic">{{ resultado.codigopostal }}</td>
    <td class="td_dinamic">{{ resultado.colonia }}</td>
    <td class="td_dinamic">{{ resultado.delegacion }}</td>
    <td class="td_dinamic">{{ resultado.estado }}</td>    
  </tr>
</table>


